<% @yugioh_cards.each do |y| %>
        <h4>Card Name: <%= y.name %></h4>
    <% if y.yugioh_card_sets.present? %>
        <% y.yugioh_card_sets.each do |cs| %>
        <p><%= cs.set_rarity + ' ' + cs.yugioh_set.set_name %></p>
        <% end %>
    <% end %>
        <% reprint_count = @yugioh_cards.where('name IS ?', y.name).count%>
        <%= (reprint_count.present? && reprint_count > 1) ? button_to('View Reprints', root_path) : ''%>
<% end %>