<% if controller_name == 'home' && action_name == 'index' %>
<section class="relative py-24 px-4">
  <div class="z-20 relative text-white container mx-auto">
    <h1 class="mb-4">Tailwind Banner with Object Fit Image</h1>
    <p class="leading-normal">This is a banner that can be resized to your heart’s content without using a background image property.</p>
    <p class="leading-normal">Integer eu massa ipsum. Quisque dui purus, congue in urna sed, volutpat condimentum nisi. Ut elementum tellus quam, sit amet congue ante tempus id. Phasellus ultricies enim in est posuere, quis semper urna consequat.</p>
    <a href="#" class="inline-block bg-blue-500 text-white no-underline hover:bg-blue-800 mt-4 p-4 rounded">A Call to Action</a>
  </div>
  <div class="absolute inset-0 h-auto z-10">
  <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent"></div>
  <div class="absolute inset-0 bg-gradient-to-b from-black via-transparent to-transparent"></div>
  <div class="absolute inset-0 bg-gradient-to-r from-black via-transparent to-transparent"></div>
  <div class="absolute inset-0 bg-gradient-to-l from-black via-transparent to-transparent"></div>
      <%= image_tag('home/CMH_Banner.png', alt:'image', class:'w-full h-full object-cover')%>
  </div>
</section>
<%end%>

