<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <p>&copy; 2023 CardManaHaven. All? Maybe, no rights reserved.</p>
    <ul class="flex space-x-4">
      <li><a href="/about" class="hover:text-blue-500">About</a></li>
      <li><a href="#" class="hover:text-blue-500">Contact</a></li>
      <li><a href="#" class="hover:text-blue-500">Privacy</a></li>
    </ul>
  </div>
</footer>
