<% if @about_page.present? %>
  <h1><%= @about_page.title %></h1>
  <p><%= @about_page.content %></p>
<% else %>
  <h1>About Us</h1>
  <p>Welcome to Card Magic Haven, your ultimate destination for all things trading cards! Established several years ago, Card Magic Haven has evolved into a thriving trading card store and a beloved community hub. Our dedicated team of six passionate individuals has turned Card Magic Haven into a go-to spot for trading card enthusiasts, specializing in the exciting worlds of Yu-Gi-Oh and Magic the Gathering.</p>
<% end %>