<% if @contact_page.present? %>
  <h1><%= @contact_page.title %></h1>
  <p><%= @contact_page.content %></p>
<% else %>
  <h1>Contact Us</h1>
  <p>Have a question, comment, or just want to say hello? We'd love to hear from you! Reach out to us through the following channels: 
    Email: info@cardmagicheaven.com
    </p>
<% end %>
